---
import CardGrid from "../../components/CardGrid.astro";
import Layout from "../../layouts/Layout.astro";
import { users } from "../../data/users";
---

<Layout title="Vercel styled cards">
  <main class="px-6 pt-10">
    <a href="/" class="hover:text-stone-500">Go home</a>
    <CardGrid users={users} />
  </main>
</Layout>
