@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "X";
    src: url("/fonts/CabinetGrotesk-Variable.woff2") format("woff2");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
  }
}
