---
import "../styles/base.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="md:px-20 px-6">
    <div class="py-10 md:pt-20">
      <div class="relative overflow-hidden rounded-full w-10 h-10">
        <img
          src="https://avatars.githubusercontent.com/u/4650238?v=4"
          alt=""
          class="w-full h-full object-cover object-center"
        />
        <div
          class="pointer-events-none absolute inset-0 rounded-full ring-1 ring-inset ring-slate-900/10"
        >
        </div>
      </div>
    </div>

    <div
      class="pb-16 md:pb-10 pt-1 selection:bg-transparent selection:text-pink-500 flex flex-col h-min flex-nowrap justify-start relative flex-none gap-8 max-w-[60ch] w-[clamp(45ch,75%,60ch)] text-sm/6 text-[rgb(27,_28,_29)] tracking-[normal] [font-feature-settings:'ss02'] font-normal"
    >
      <div>
        <p>I&lsquo;m Javier, a Software Engineer based in Santiago, CL.</p>
        <p>
          I work at Segic primarly but also I teach at my <i>Alma Mater</i> about
          Databases and IA primarly. In my free time I like to take different kind
          of projects to explore new technologies, learn new things &amp; polish
          my skills.
        </p>
      </div>
      <div
        class="flex flex-start flex-col items-center gap-2.5 flex-nowrap p-0 flex-none relative overflow-hidden h-min"
      >
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            efficitur nunc lorem, non rutrum lectus finibus et. Suspendisse
            potenti. Sed ultrices mattis enim. Aliquam erat volutpat. Phasellus
            elementum sit amet urna a rhoncus. Duis ac convallis nisi, fermentum
            commodo ex. <a href="#" class="underline hover:text-stone-500"
              >Send me an email →</a
            >
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
