---
import "../styles/base.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="md:px-20 px-6">
    <div class="py-10 md:pt-20">
      <div class="relative overflow-hidden rounded-full w-10 h-10">
        <img
          src="https://avatars.githubusercontent.com/u/4650238?v=4"
          alt=""
          class="w-full h-full object-cover object-center"
        />
        <div
          class="pointer-events-none absolute inset-0 rounded-full ring-1 ring-inset ring-slate-900/10"
        >
        </div>
      </div>
    </div>

    <div
      class="pb-16 md:py-10 pt-1 selection:bg-transparent selection:text-pink-500 flex flex-col h-min flex-nowrap justify-start relative w-full flex-none gap-8 max-w-[60ch] lg:max-w-[45ch]"
    >
      <div>
        <p class="text-sm/6 text-stone-900">
          I&apos;m Javier, a Software Engineer based in Santiago, CL.
        </p>
        <p class="text-sm/6 text-stone-900">
          I work at Segic primarly but also I teach at my <i> Alma Mater</i> about
          Databases and IA primarly. Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Ut mattis vestibulum turpis. Pellentesque vitae lacus ipsum. Ut id
          sagittis quam.
        </p>
      </div>
      <div
        class="flex flex-start flex-col text-sm/6 text-stone-900 items-center gap-2.5 flex-nowrap p-0 flex-none relative overflow-hidden h-min"
      >
        <!-- <div
          class="flex items-start flex-none flex-row flex-nowrap justify-start h-min gap-1.5 relative w-full"
        >
          <p class="text-xs/6 opacity-40">Availability</p>
          <div
            class="rounded-lg h-6 px-2 flex justify-center items-center relative flex-none w-min flex-nowrap flex-row gap-2.5"
          >
            <div
              class="outline-none rounded-lg shrink-0 justify-start transform-none flex flex-none flex-col whitespace-pre h-auto w-auto after:border after:border-stone-900/10 after:w-full after:h-full after:absolute after:left-0 after:top-0 after:rounded-[inherit] after:box-border"
            >
              <p class="text-[0.625rem]/6 opacity-40">July 2023-onwards</p>
            </div>
          </div>
        </div> -->
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            efficitur nunc lorem, non rutrum lectus finibus et. Suspendisse
            potenti. Sed ultrices mattis enim. Aliquam erat volutpat. Phasellus
            elementum sit amet urna a rhoncus. Duis ac convallis nisi, fermentum
            commodo ex. <a href="#" class="underline hover:text-stone-500"
              >Send me an email →</a
            >
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
