---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
    <main class="max-w-6xl mx-auto w-auto">
        <div class="py-10 px-6">
            <div class="relative overflow-hidden rounded-full w-10 h-10">
                <img
                        src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2864&q=80"
                        alt=""
                        class="w-full h-full object-cover object-center"
                />
                <div
                        class="pointer-events-none absolute inset-0 rounded-full ring-1 ring-inset ring-slate-900/10"
                >
                </div>
            </div>
        </div>

        <div class="px-6 pb-16 pt-1 selection:bg-transparent selection:text-pink-500 flex flex-col h-min flex-nowrap justify-start relative w-full flex-none gap-8">
            <p class="text-sm/6 text-stone-900 font-light">I&apos;m Javier, a Software Engineer based in
                Santiago,
                CL. I work at Segic during the day and freelance at night. Wireframe Design Studio is my tiny spec
                on
                the internet, where I focus on crafting beautiful, highly detailed websites, interfaces and
                icons.</p>
            <div class="flex flex-start flex-col text-sm/6 text-stone-900 font-light items-center gap-2.5 flex-nowrap p-0 flex-none relative overflow-hidden h-min">
                <div class="flex items-start flex-none flex-row flex-nowrap justify-start h-min gap-1.5 relative w-full">
                    <p class="text-xs/6 opacity-40">Availability</p>
                    <div class="rounded-lg h-6 px-2 flex justify-center items-center relative flex-none w-min flex-nowrap flex-row gap-2.5">
                        <div class="outline-none rounded-lg shrink-0 justify-start transform-none flex flex-none flex-col whitespace-pre h-auto w-auto after:border after:border-stone-900/10 after:w-full after:h-full after:absolute after:left-0 after:top-0 after:rounded-[inherit] after:box-border">
                            <p class="text-[0.625rem]/6 opacity-40">July 2023-onwards</p>
                        </div>
                    </div>
                </div>
                <div>
                    <p>As a result of my limited availability, I am only interested in collaborating with early-stage
                        startups/founders looking to establish their visual design style, particularly marketing
                        websites or product user interfaces. Send me an email →
                    </p>
                </div>
            </div>
        </div>
    </main>
</Layout>
