---
import Card from "./Card.astro";

interface Props {
  users: {
    name: string;
    username: string;
    role: string;
    country: string;
    image: string;
  }[];
}

const { users } = Astro.props as Props;
---

<div
  id="cards"
  class="w-full grid my-16 gap-6 grid-cols-[repeat(auto-fill,minmax(theme(width.72),1fr))]"
>
  {users.map((user) => <Card user={user} />)}
</div>

<script>
  (document.getElementById("cards") as HTMLElement).onmousemove = (e) => {
    for (const card of document.getElementsByClassName(
      "group"
    ) as HTMLCollectionOf<HTMLElement>) {
      const rect = card.getBoundingClientRect(),
        x = e.clientX - rect.left,
        y = e.clientY - rect.top;

      card.style.setProperty("--x", x + "px");
      card.style.setProperty("--y", y + "px");
    }
  };
</script>
